img[alt="Product Name Screen Shot"] { 
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ddd; /* Gray border */
  border-radius: 5px;  /* Rounded border */
  padding: 5px; /* Some padding */
}