img[alt="Product Name Screen Shot"] { 
  /* width: 200px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  }